header{
    color: black;
    text-align: center;
    font-size: 15px;
    background: rgba(0,0,0, .6);
    padding: 15px;
    
}

nav{
    float: center;
    width: 100%;
    background-color: rgba(0,0,0, .5);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}


nav a:hover{
    background-color: #1d3557;
}

nav a{
    color: black;
    text-decoration: none;
    
}

footer{
    height: 50%;
    background-color: rgba(0,0,0, .5);
    width: 100%;
    padding: 1%;

}

body{
    margin: 0;
    padding: 0;
    background-image: url(/Administrador/img/fondo001.png);
}

.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0, .5); /* Este es un transparente*/
    border-radius: 10px;
}

.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;
}

.contenedor .elemento label{
    color: white;
}

.colorcitos{
    color: white;
    margin: 0 0 30px;
}

.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.contenedor .elemento input[type="submit"]{
    background-color: #f72585;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
}

.contenedor .elemento input[type="reset"]{
    background-color: #f72585;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
}

.contenedor .elemento input[type="file"]{
    background-color: #f72585;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
}